VITE_GOOGLE_CLIENT_ID_CHROME=changeme
VITE_GOOGLE_CLIENT_ID_SAFARI=changeme
VITE_GOOGLE_CLIENT_ID_FIREFOX=changeme
VITE_DROPBOX_CLIENT_ID_CHROME=changeme
VITE_DROPBOX_CLIENT_ID_FIREFOX=changeme
VITE_ONEDRIVE_CLIENT_ID_CHROME=changeme
VITE_ONEDRIVE_CLIENT_ID_FIREFOX=changeme
