EXPO_PUBLIC_GOOGLE_CLIENT_ID_IOS=changeme
EXPO_PUBLIC_GOOGLE_CLIENT_ID_ANDROID=960196785492-9v0uvtj96dhg05en78d721s3m8tcbsj0.apps.googleusercontent.com
EXPO_PUBLIC_DROPBOX_CLIENT_ID=changeme
EXPO_PUBLIC_ONEDRIVE_CLIENT_ID=changeme
